---
layout: default
---

<div class="home">

    <img src="{{ site.baseurl }}/img/toby.jpeg" class="toby"/>
    <div class="blurb">
      <p>
        I am a Ruby and JavaScript engineer from Belfast but living in London.
      </p>
      <p>
        I hope you enjoy my articles, if you have any questions please feel free to comment on them or contact me using the links in the footer.
      </p>
    </div>

  <ul class="post-list">
    {% for post in site.posts %}
      {% for tag in post.tags %}
        {% if tag == "Ruby" %}
          {% assign tagClass = "ruby" %}
        {% endif %}
      {% endfor %}
      <li class="post-list-item {{ tagClass }}">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> – <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
      {% assign tagClass = "" %}
    {% endfor %}
  </ul>
</div>
